header {
    background-color:rgb(16, 117, 134) ;
}

main {
    background-color:rgb(9, 75, 173) ;
}

footer {
    background-color: rgb(91, 195, 243);
}

h3 {
    font-size: x-large; 
}

.wordbig { 
    font-family:Arial, Helvetica, sans-serif ;
    color: crimson;
}
.heyya {
    font-size: large;
    font-family: Arial, Helvetica, sans-serif;
    color: rgb(252, 249, 62);
}
